div#base {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    font-family: "Microsoft YaHei","Hiragino Sans GB W3",Tahoma,Arial;
}
div#base_block {
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    border-color: #AAA;
    border-radius:25px;
    -moz-border-radius:25px; /* Old Firefox */
}
div#base_head {
    height: 90px;
}
div#base_head_logo {
    margin: 0px 0px 0px 15px;
    float: left;
    height: 90px;
    width: 60px;
}
div#base_head_title {
    position: relative;
    float: left;
    margin: 0px 0px 0px 15px;
    height: 100%;
    min-width: 256px;
}
img#base_head_logo {
    width: 85%;
    height: 85%;
}
h1#base_head_title {
    position: absolute;
    left: 0px;
    bottom: 0px;
}
div#base_head_menu {
    height: 24px;
    padding: 5px 15px 5px 15px;
    background-color: #333;
    border-radius:25px 25px 0px 0px;
    -moz-border-radius:25px 25px 0px 0px; /* Old Firefox */
}
div#base_head_menu>li {
    float: left;
    margin: 0px 30px 0px 5px;
}
div#base_head_menu>li>a {
    color: #DDD;
    text-decoration: none;
}
div#base_head_menu>li>a:hover {
    color: #EEE;
}
div#base_context {
    padding: 35px 15px 35px 15px;
}
div#base_tail {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    padding: 10px;
}