<div style="margin:0px;" >
    <a href="javascript:main('', _qt);" >手牌生成</a> | 手牌 
    <input type=text id="tehaiInput" size=25 >
    <button onclick="javascript:main(document.getElementById('tehaiInput').value, _qt);"> OK </button>
    <hr size=1 color=#CCCCCC >
</div>
<div id=tehai align=center ></div>
<div id=tips align=center style="height:18px"></div>
<div id=m2 align=center ></div>

<script type="text/javascript" src="../static/agari/agari1001.js"></script>
<script type="text/javascript" src="../static/agari/agaripattern1003.js"></script>
<script type="text/javascript" src="../static/agari/syanten1007.js"></script>
<script type="text/javascript" src="../static/agari/mpsz1002.js"></script>
<script type="text/javascript" src="../static/agari/load1017.js"></script>