<link rel="stylesheet" type="text/css" href="../static/css/logChart.css" />
<form action="../statistics" method="get">
    <table>
        <tr>
            <td><p>玩家ID：</p></td>
            <td><input id="ref" type="text" style="min-width: 300px;" name="name" required="required"></td>
            <td>
                <button id="submit">提交</button>
            </td>
            <td>
                <p id="info">在上传新牌谱后的第一次统计会比较耗时(2-7s)</p>
            </td>
        </tr>
    </table>
</form>
<div id="radar_container">
</div>
<div id="statistics_container" class="easyui-panel" title="统计结果">
    <ul id="sttree" class="easyui-tree"></ul>
</div>
<script type="text/javascript" src="../static/js/pages/statistics.js"></script>