$def with (page)
<link rel="stylesheet" type="text/css" href="../static/css/createLog.css" />
<div>
    <form action="../tenhouCreateLog" method="get">
        <table>
            <tr>
                <td><p>牌谱地址：</p></td>
                <td><input id="ref" type="text" style="min-width: 300px;" name="ref" required="required" onchange="return chx(this);"></td>
                <td>
                    <button id="submit" onclick="return submit(this);">提交</button>
                </td>
            </tr>
        </table>
    </form>
    <script type="text/javascript">
    function chx(sender){
        var patt = /\d{10}gm-\w{4}-\d{4,5}-\w{8}/g;
        obj = document.getElementById("ref");
        obj.value = obj.value.match(patt);
        return false;
    }
    function submit(sender){
        obj = document.getElementById("ref");
        if(obj.value){
            window.navigate("../tenhouCreateLog?ref=" + obj.value);
        }
        return false;
    }
    </script>

    $if page:
        $:page
</div>